body{
  background-color:#edeceb;
  /* width: 98%; */
}
.main-nav{
  background-color:black;
  display: flex;
}
.header-nav{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}
.navbar-brand{
  font-size: 40px;
  line-height: normal;
  margin-top: 2px;
  font-weight: bold;
  font-family: 'Marck Script', cursive;
  font-style: italic;
  color: #c79c60;
}
.navbar{
  margin:0 auto;
  float: right;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.navbar .nav-link{
  color: #fff;
}
.navbar .nav-link:hover{
  color: #c79c60;
}
.nav-link.active{
    color: #c79c60;
}
.mobile-menu-icon { display: none; }
/* ======================Header- images - section==============*/
.main-header-section{
  background-color:#282726;
  height: 950px;
}
.header-imgages{
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}
.header-msg{
   margin: 0 auto;
  text-align: center;
  margin-top: -20px;
}
.welcome-text{
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin-top: -50px;
  color: #ffffff;
}
.wel-text{
  font-size: 50px;
  font-weight: 700;
  color: #c79c60;
}
.welcome-texts{
  font-family: 'Marck Script', cursive;
  font-size: 70px;
  padding-right: 20px;
}
.description{
  width: 60%;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #e0ddd7;
}
.welcome-details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/tm-brown-button.png);
  width: 196px;
  height: 46px;
  text-transform: uppercase;
  font-size: 16px;
  color: #c79c60;
  margin: 0 auto;
  margin-bottom: 30px;
}
.welcome-details:hover {
  text-decoration: none;
  color:#ffffff;
}
/* ======================readmore- section==============*/
.section-main{
  margin: 0 auto;
  width: 70%;
  margin-top:200px;
}
.readmore-title{
  margin-left: 28px;
  font-size: 25px;
  color: #c79c60;
  font-style: italic;
  font-weight: bold;
  font-family: 'Marck Script', cursive;
}
.readmore-subtitle{
  margin-left: 30px;
  font-size: 30px;
  font-weight: bolder;
  margin-top: -20px;
}
.para{
  width:100%;
}
.coffee img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 80px;
}
.readmore-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/tm-brown-button.png);
  width: 196px;
  height: 46px;
  text-transform: uppercase;
  font-size: 16px;
  color: #c79c60;
  margin-bottom: 30px;
}
.readmore-button:hover{
  color: #ffffff;
  text-decoration: none;
}



/* ======================header- section==============*/
.popular-section{
  background-color:;
  margin-bottom: 100px;
  color: #c79c60;
  margin-top: 100px;
}
.po-section-header{
  font-size: 30px;
  line-height: normal;
  font-style: italic;
  color: #c79c60;
  font-weight: bold;
  display: inline-block;
  font-family: 'Marck Script', cursive;
}

.tm-hr{
  margin-top: -30px;
  border-color: #c79c60;
  width: 60%;
  margin-left:250px;
}
/* ======================header- section-grid==============*/
.section-items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 30%;
}
.section-items-one{
  margin: 4%;
}
.section-items-two{
  margin: 4%;
}
.section-items-three{
  margin: 4%;
}
.popular-items{
  background-color: #ffffff;
  line-height: 20px;
  text-align: justify;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
.popular-items:hover{
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.300);
}
.popular-items p{
  color:#454443;
}
.order-now-container {
    width: 100px;
    height: 100px;
    background-color: rgb(82, 76, 76);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    margin-top: -40px;
    margin-left: 80px;
}
.order-now-link{
  font-size: 20px;
  border: 2px solid rgb(174,174,174);
  border-radius: 50%;
  width: 85px;
  color: rgb(174,174,174);
  height: 85px;
  padding-top:8px;
  padding-left:15px;
  text-decoration: none;
  font-style: italic;
}
.order-now-link:hover{
  text-decoration: none;
  color: #c79c60;
  border-color: #c79c60;
}
.popular-link a{
  margin-left: 50px;
  color: rgb(174,174,174);
  font-style: italic;
  font-size: 40px;
  font-family: 'Marck Script', cursive;
}
.popular-link a:hover{
  color: #c79c60;
  text-decoration: none;
}
.po-hr:hover{
  border-color: #c79c60;
}
/* ======================special- section-grid==============*/
.main-container{
  margin-top: 70px;
  display: inline-block;
  position: relative;
  margin-bottom: 100px;
}
.main-size img{
  width: 100%;
  height: 450px;
  border: 10px solid #ffffff;
}
.description-section-special{
  margin-top: -130px;
  position: absolute;
  left: 0px;
  right: 10px;
  bottom: 40px;
  color: white;
  background: rgba(0,0,0,0.6);
  margin-left: 27px;
  margin-bottom: -30px;
  width: 90.7%;
  padding: 10px;
}
.description-section-special-small{
  margin-top: -130px;
  position: absolute;
  left: 0px;
  right: 10px;
  bottom: 40px;
  color: white;
  background: rgba(0,0,0,0.6);
  margin-left: 25px;
  margin-bottom: -10px;
  width: 90.7%;
  padding: 10px;
}
.description-section-special-small-grid{
  margin-top: -130px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
  color: white;
  background: rgba(0,0,0,0.6);
  margin-left: 26px;
  margin-bottom: -30px;
  width: 80.7%;
  padding: 10px;
}

.special-container-small-main img{
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  border: 10px solid #ffffff;
}
.special-container-small img{
  width: 100%;
  height: 180px;
  border: 10px solid #ffffff;
}
/* ======================daily- section-grid==============*/
.daily-section-main{
  margin-top: 80px;
  margin-bottom:100px;
}
.daily-list{

}
ol { counter-reset: item }
ol li { display: block }
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #c79c60;
  font-weight: 700;
}
/* ======================footer-section==============*/
.footer-section{
  background-color:#262525;
  height: 400px;
}
.tm-footer-div-title{
  margin-top: 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.tm-footer-nav li{
  list-style: none;
  font-size: 20px;
  margin-left: -40px;
  text-transform: uppercase;
  padding-top: 10px;
}
.tm-footer-nav a{
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
.tm-footer-nav a:hover{
  color:#c79c60;
}
.tm-footer-div p{
  color: #ffffff;
}
.tm-social-icon{
  margin-top: 40px;
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
  background-color: #545252;
}
.tm-social-icon:hover{
  background-color:#c79c60;
  color: #ffffff;
}
.context{
  margin-top: 80px;
  height: 90px;
  background-color: #ffffff;
}
.context p{
  padding-top:50px;
  font-weight: 400;
}
/* ======================today- section-grid==============*/
.tm-section-header-containers{
  margin-top: 300px;
  width: 70%;
  margin-left: 150px;
}
/* ======================side section-grid==============*/
.menu-section{
  display: flex;
  margin-top:60px;
}
.tm-side-menu {
  color: white;
  width: 242px;
  padding-top: 7px;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
}
.tm-side-menu-bg {
  position: absolute;
  top: 0;
  left: 0px;
}
.tm-side-menu li { list-style: none; }
.tm-side-menu li a {
  color: #7c6a51;
  padding: 5px;
  margin-left: -70px;
  display: block;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.tm-side-menu li a:hover,
.tm-side-menu li a.active {
  color: #c79c60;
  text-decoration: none;
}

.menu-section-side{
  width: 100%;
  margin-top: -25px;
}

.tm-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin-top: 30px;
  padding-top: 20px;
  padding-left:0px;
  background-color: #ffffff;
}
.tm-product  img{
  height:150px;
  margin-top: -20px;
}
.tm-product-price{
    width: 100px;
    height: 100px;
    background-color: rgb(82, 76, 76);
    border-radius: 50%;
    margin: 0 auto;
    margin-left:700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}
.tm-product-price-link{
  font-size: 25px;
  border: 2px solid rgb(174,174,174);
  border-radius: 50%;
  width: 85px;
  color: rgb(174,174,174);
  height: 85px;
  font-weight: bold;
  padding-top:20px;
  padding-left:20px;
  text-decoration: none;
  font-style: italic;
}
.tm-product-price-link:hover{
  text-decoration: none;
  color: #c79c60;
  border-color: #c79c60;
}
.tm-product-title,
.tm-product-description{
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  color: #000;
}
/* ======================contact-section==============*/
.section-contact{
    margin: 0 auto;
    width: 50%;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}
.contact input{
  margin-left: 20px;
  margin-top: 10px;
  width: 450px;
  padding-left: 10px;
  border-radius: 5px;

}
.contact textarea{
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 10px;
  border-radius: 5px;
}
.contact input,
.contact textarea{
  border: 2px solid  #c79c60;
}
